
/*
.titulo {
    text-align: center;
    color: blue;
}
*/
.mosca {
    position: absolute;
    font-size: 40px;
    top: 0;
    right: 0;
    margin: 10px;
}

.capital {
    position: relative;
    justify-content: center;
    display: flex;
}

.capital .upper {
    text-transform: uppercase;
    
}

.capital .capital-name {
    position: absolute;
    bottom: 20px;
    left: auto;
}

.divGato {
    display: flex;
    justify-content: center;
}

.gato {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid purple;
    padding: 5px;
    text-align: center;
}

.gato .gato-nombre {
    margin-top: 5px;
}

.divBola {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.bola {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: black;
    position: relative;
    z-index: 0;
}

.bola-texto {
    position: absolute;
    z-index: 1;
    color: white;
    top: 10px;
    left: 12px;
}


.flip {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 50px;
}

.semaforo {
    display: flex;
    justify-content: center;
}

.circulo {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
}

.divContador {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botonContador, .inputContador {
    padding: 10px 20px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
